<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

   <caching>
      <profiles>
         <remove extension=".js" />
      </profiles>
   </caching>

   <staticContent>
      <remove fileExtension=".json" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".svg" />

      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
   </staticContent>

   <rewrite>
      <rules>
        <clear />
        <rule name="Angular" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>

    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <remove name="X-Frame-Options" />
        <add name="X-Frame-Options" value="sameorigin" />
        <remove name="Strict-Transport-Security" />
        <add name="Strict-Transport-Security" value="max-age=10886400" />
        <remove name="X-Content-Type-Options" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <remove name="X-XSS-Protection" />
        <add name="X-XSS-Protection" value="1; mode=block" />
      </customHeaders>
   </httpProtocol>

   <security>
      <requestFiltering removeServerHeader="true"/>
    </security>

  </system.webServer>

  <system.web>
    <httpRuntime enableVersionHeader="false" />
  </system.web>

</configuration>
